*{margin:0;padding:0; }
body{
    background-color: #bfaeae
}

.pagination {
    width: 20%;
    margin: auto;
}

button#btnSearch1 {
    color: white;
}
.preload-container {
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999999999;
    display: block;
    padding-right: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}